html{
  background: #3A3A3A;
}

h1 {
    Color: #E0FF00;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
    padding: auto;
    padding-top: 0.4em;
    font-family: Verdana;
}

table, th, td {
  border: 1px solid black;
  border-color: #3A3A3A
}

table {
  padding-bottom:10px;
  width: 100%
}

th{
  padding: 5px;
  background-color: #CDECFF;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

td {
  padding: 25px;
  text-align: center;
  background-color: #E3E3E3;
  font-family:sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 33%
}

table.Hometable {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

table.Holidays {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.price td {
  padding: 5px;
  background-color: #E3E3E3;
  font-family: fantasy;
  font-size: 18px;
  font-weight: bold;
  width:33%
}

.pic td{
  padding: 5px;
}

.search {
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  }

  .pic {
      width: 100%;
      height: 100px;
  }

.email {
  Color: #E0FF00;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;

}
